/* Write your CSS here */
.link-class-teamCard {
  text-decoration: none;
  color: #ffffff;
}

.li-teamcard {
  display: flex;
  padding: 30px;
  background-color: #ffffff33;
  border: solid 2px #ffffff;
  border-radius: 10px;
  width: 450px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.img-team-card {
  height: 150px;
  width: 150px;
  margin-right: 20px;
}

.teamCard-text {
  font-size: 30px;
}
